#transactionsPanel.panel
	div(class="row")
		div(class="twelve columns")
		p The corporate registries viewer allows you to view the transactions that have occurred for corporations across jurisdictions.  In addition you may filter by jurisdiction or by corporate name.
	form(action="/filter" method="POST")#filterform
	div(class="row")
		div(class="twelve columns")
			b Filter by Jurisdiction:
			br
			input(type="checkbox" name="selectAll")
			b  Select All
			br
	div(class="row")
			div(class="four columns")
				input(type="checkbox" name="AB" id="AB" onclick="filterTransactionsByJurisdiction()")
				|  Alberta
				br
				input(type="checkbox" name="BC" id="BC" onclick="filterTransactionsByJurisdiction()")
				|  British Columbia
				br
				input(type="checkbox" name="MB" id="MB" onclick="filterTransactionsByJurisdiction()")
				|  Manitoba
				br
				input(type="checkbox" name="NB" id="NB" onclick="filterTransactionsByJurisdiction()")
				|  New Brunswick
				br
				input(type="checkbox" name="NL" id="NL" onclick="filterTransactionsByJurisdiction()")
				|  Newfoundland and Labrador
				br

			div(class="four columns")
				input(type="checkbox" name="NT" id="NT" onclick="filterTransactionsByJurisdiction()")
				|  Northwest Territories
				br
				input(type="checkbox" name="NS" id="NS" onclick="filterTransactionsByJurisdiction()")
				|  Nova Scotia
				br
				input(type="checkbox" name="NU" id="NU" onclick="filterTransactionsByJurisdiction()")
				|  Nunavut
				br
				input(type="checkbox" name="ON" id="ON" onclick="filterTransactionsByJurisdiction()")
				|  Ontario
				br
				input(type="checkbox" name="PE" id="PE" onclick="filterTransactionsByJurisdiction()")
				|  Prince Edward Island
				br
			div(class="four columns")
				input(type="checkbox" name="QC" id="QC" onclick="filterTransactionsByJurisdiction()")
				|  Quebec
				br
				input(type="checkbox" name="SK" id="SK" onclick="filterTransactionsByJurisdiction()")
				|  Saskatchewan
				br
				input(type="checkbox" name="YT" id="YT" onclick="filterTransactionsByJurisdiction()")
				|  Yukon
				br
				input(type="checkbox" name="FED" id="FED" onclick="filterTransactionsByJurisdiction()")
				|  Federal Government
				br
		p
		div(class="row")
			div(class="twelve columns")
				b Filter by Corporate Name:
				br
				legend
					input(type="text" id="corporateNameTransactionsFilter" onkeyup="filterTransactionsByCorporation()" placeholder="Corporate Name..." class="u-full-width")
		p
		table#registryTransactionsTable
				thead
					tr 
						th Corporate Name
						th Jurisdiction
						th Type
						th Additional Information
						th Block
						th Timestamp 
						th &nbsp;
				tbody#myTransactionsBody
	
		p
		br