#adminPanel(hidden).panel
	div(class="row")
		div(class="twelve columns")
			h3 Admin
			p Perform administrative functions on this page.
	form(action="/nameChange" method="POST")#nameChangeform
		div(class="row")
			div(class="twelve columns" style="text-align:left")
				button(type="button" class="button-primary")#loadDemoData
					span.fa.fa-check &nbsp;&nbsp;
					span Load Demo Data
				p#loadDataMessage
				
				