#viewPanel.panel
	div(class="row")
		div(class="twelve columns")
		p The corporate registries viewer allows you to view the transactions that have occurred for corporations across jurisdictions.  In addition you may filter by jurisdiction or by corporate name.
	form(action="/filter" method="POST")#filterform
	div(class="row")
		div(class="twelve columns")
			b Filter by Jurisdiction:
			br
			input(type="checkbox" name="selectAll")
			b  Select All
			br
	div(class="row")
			div(class="four columns")
				input(type="checkbox" name="#{bag.setup.USER1}")
				|  #{bag.setup.USER1longname}
				br
				input(type="checkbox" name="BC")
				|  British Columbia
				br
				input(type="checkbox" name="MB")
				|  Manitoba
				br
				input(type="checkbox" name="NB")
				|  New Brunswick
				br
				input(type="checkbox" name="NL")
				|  Newfoundland and Labrador
				br

			div(class="four columns")
				input(type="checkbox" name="NT")
				|  Northwest Territories
				br
				input(type="checkbox" name="NS")
				|  Nova Scotia
				br
				input(type="checkbox" name="NU")
				|  Nunavut
				br
				input(type="checkbox" name="ON")
				|  Ontario
				br
				input(type="checkbox" name="PE")
				|  Prince Edward Island
				br
			div(class="four columns")
				input(type="checkbox" name="QC")
				|  Quebec
				br
				input(type="checkbox" name="SK")
				|  Saskatchewan
				br
				input(type="checkbox" name="YT")
				|  Yukon
				br
				input(type="checkbox" name="FED")
				|  Federal Government
				br
		p
		div(class="row")
			div(class="twelve columns")
				b Filter by Corporate Name:
				br
				legend
					input(type="text" id="corporateNameFilter" onkeyup="filterCorporation()" placeholder="Corporate Name..." class="u-full-width")
		p
		table#registryTransactionsTable
				thead
					tr 
						th Corporate Name
						th Type
						th Date/Time
						th Jur.
						th E-Mail
						th Registered Office Address
						th Corporation Number
						th &nbsp;
				tbody#myTransactionsBody
	
		p
		br