#homePanel.panel
	div(class="row")
		div(class="twelve columns" style="text-align:left")
			p
			p The Corporate Registry Blockchain Proof of Concept is a ‘shadow ledger’ that captures an audit trail of Corporate Registry transactions within and across jurisdictions.  The POC records Corporate Registry transactions such as registration, a name change or a dissolution into a Blockchain. The intention of the POC is to demonstrate how Blockchain technology can benefit Corporate Registries across jurisdictions by providing valuable insight into Corporate Registry transaction history.
			p
	div(class="row")
		div(class="twelve columns" style="text-align:center")
			a(href="registry_simulator")
				button(type="button" class="button-primary")
					span Registry Simulator
			| &nbsp &nbsp
			a(href="registry_viewer")
				button(type="button" class="button-primary")
					span Registry Viewer