extends ./template/layout_registry_viewer.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/registries_viewer.js?v=#{bag.jshash}')
	script(src='/js/filters.js')
	script(type='text/javascript').
		$(document).ready(function(){
		});


block navigation
	include ./template/nav_registry_viewer.jade

// --------------- Main Stuff  -------------- //
block content
	p#statusMessage
	#contentPanel
		// --------------- Register Panel
		include ./panel_transactions.jade
	#contentPanel
		// --------------- Corporations Panel
		include ./panel_corporations.jade
		
block footer
	include ./template/diaccfooter.jade
