#viewBCWrap
	div(class="row")
		div(class="twelve columns")
			hr
	div(class="row")
		div(class="four columns" style="text-align:left")
			img(src="./imgs/hyperledger.png" alt="hyperledger" style="width:120px;height:26px;")
		div(class="four columns" style="text-align:center")
			p Developed by IBM using Hyperledger Fabric
		div(class="four columns" style="text-align:right")
			img(src="./imgs/IBM.jpg" alt="IBM" style="width:120px;height:47px;")
	