#viewBCWrap
	div(class="row")
		div(class="twelve columns")
			hr
	div(class="row")
		div(class="three columns" style="text-align:left")
			img(src="./imgs/hyperledger.png" alt="hyperledger" style="width:120px;height:26px;")
		div(class="six columns" style="text-align:center")
			| Developed by IBM using 
			br
			| Hyperledger Fabric
		div(class="three columns" style="text-align:right")
			img(src="./imgs/IBM.jpg" alt="IBM" style="width:120px;height:47px;")
	